body {
  background-image: url("background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Bungee", cursive;
  font-family: "Kanit", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Prompt", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  /* height: 100%;
  width: 100%; */
}

h1 {
  background: linear-gradient(#da1212, #000000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

button {
  /* background: linear-gradient(#da1212, #000000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; */

}

.title {
  font-size: 100px;
  margin-top: 60px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  width: 550px;
  height: 60px;
  border: none;
  border-radius: 3%;
}

.btn {
  width: 80px;
  height: 60px;
  margin-left: 20px;
  /* margin-top: 60px; */
  border-radius: 3%;
  border: none;
  font-size: 30px;
  background: linear-gradient(#da1212, #000000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}